/webapp/node_modules
/webapp/public/css
/webapp/public/images
/webapp/public/js
/webapp/public/fonts
/webapp/public/mix-manifest.json
/webapp/public/hot
/webapp/public/storage
/webapp/storage/*.key
/webapp/storage/debugbar
/webapp/vendor
**/.env
**/.env.backup
**/.phpunit.result.cache
Homestead.json
Homestead.yaml
**/npm-debug.log
**/yarn-error.log
**/bin/
**/bin-test/
**/*.class
**/*.jar
**/*.pyc
**/target/
**/.idea
**/*.zip
**/*.iml
